<% include header %>
	
<form method="post">
	<div>
		<label>Title</label>
	</div>
	<div>
		<input name="name" type="text" value="<%= post.name %>" required />
	</div>
	<div>
		<label>Content</label>
	</div>
	<div>
		<textarea name="content" required><%= post.content %></textarea>
	</div>
	<div>
		<input type="submit" value="Create" />
	</div>
</form>

<% include footer %>